:host {
  display: block;
  background: transparent !important;
}

.viewport-container {
  min-height: calc(100vh - 70px);
  background: transparent !important;
  box-sizing: border-box;
  width: 100%;
}
